@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css");

* {
  font-family: "NanumSquareRound";
}

header {
  position: fixed;
  width: 1512px;
  height: 99.92px;
  left: 0px;
  top: 0px;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 5px 0px gray;
  background: #ffffff;
  z-index: 100;
}

.honeyback {
  position: absolute;
  width: 1512.57px;
  height: 358px;
  left: 0px;
  top: 0px;
}

.logo {
  position: fixed;
  width: 294.79px;
  height: 186px;
  left: 616.21px;
  top: 0px;
}

.search {
  position: fixed;
  left: 1300px;
  top: 40px;
}

.menubar {
  margin-top: 30px;
  margin-left: 100px;
  word-spacing: 20%;
}

.a {
  width: 181px;
  height: 52.26px;
  left: 22px;
  top: 23.83px;

  font-family: "Hancom MalangMalang";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;

  /* ㅇㅇ */

  color: #ffcf76;
}

.a:hover {
  color: #f1b342;
}

.b {
  width: 168px;
  height: 52.26px;
  margin-left: 70px;
  top: 23.83px;

  font-family: "Hancom MalangMalang";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;

  /* ㅇㅇ */

  color: #ffcf76;
}

.b:hover {
  color: #f1b342;
}

.c {
  width: 200px;
  height: 52.26px;
  margin-left: 70px;
  top: 23.83px;

  font-family: "Hancom MalangMalang";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;

  /* ㅇㅇ */

  color: #ffcf76;
}

.c:hover {
  color: #f1b342;
}

.d {
  width: 200px;
  height: 52.26px;
  margin-left: 500px;
  top: 23.83px;

  font-family: "Hancom MalangMalang";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;

  /* ㅇㅇ */

  color: #ffcf76;
}

.d:hover {
  color: #f1b342;
}

.bar {
  position: fixed;
  width: 187px;
  height: 9px;
  left: 29px;
  top: 100px;
}

.contentWrapper {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  margin-top: 200px;
  align-items: center;
  gap: 80px;
}

.postBox {
  background: url("img/postbox.png") no-repeat center;
  width: 680px;
  height: 700px;
  margin-top: 90px;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.imageBox {
  background: url("img/Ellipse 48.png") no-repeat center;
  width: 600px;
  height: 600px;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textWrapper {
  margin-top: 120px;
  margin-left: 260px;
}

.writeInfoWrapper {
  margin-top: 50px;
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.textbox {
  width: 300px;
  height: 40px;
  font-weight: bold;
  border: 0;
  border-radius: 15px;
  outline: none;
  padding-left: 10px;
  background: transparent;
}

.textbox.description {
  margin-left: 200px;
  width: 420px;
  height: 400px;
  resize: none;
}

.write-select {
  border-radius: 8px;
  background: white;
  outline: 0 none;
  width: 100px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.write-select option {
  background: white;
  padding: 4px;
}

.write-select option:hover {
  background: rgb(255, 236, 213);
  padding: 4px;
}

.filebox {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.filebox input[type="file"] {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.plusImgWrapper {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.plusImg {
  background-color: white;
  border-radius: 50%;
  padding: 20px;
}

.select-box {
  position: relative;
  width: 130px;
  height: 40px;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
}

.select-box:after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 35px;
  background: white;
}

.select-box .select-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 none;
  outline: 0 none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  width: inherit;
  height: inherit;
}

.select-box .option-list {
  position: absolute;
  list-style-type: none;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  background: white;
  color: rgb(100, 87, 63);
  font-weight: bold;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in;
}

.select-box.active .option-list {
  max-height: 500px;
}

.select-box .option-item {
  border-bottom: 1px solid rgb(83, 63, 63);
  padding: 5px 15px 5px;
  transition: 0.1s;
}

.select-box .option-item:hover {
  background: rgb(255, 237, 195);
  color: rgb(206, 171, 101);
}

.select-box .option-item:last-child {
  border-bottom: 0 none;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  margin-left: 20px;
}

.finish {
  position: relative;
  width: 84px;
  height: 84px;
  left: 1300px;
  top: 178px;
}

.check {
  position: absolute;
  width: 84px;
  height: 84px;
  margin-left: 1316px;
  margin-top: 124px;
}