<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/welcomeMember.css" rel="stylesheet" />
    <title>머그마</title>
  </head>
  <body>
    <div id="backgroundImgDiv">
      <button id="closebtn"><a href="./home.html" id="goHome">X</a></button>
      <!--float로 오른쪽 위에 띄우기-->
      <h1 id="title">WELCOME!</h1>
      <br />
      <div class="userImgDiv">
        <img src="./img/user.png" alt="사용자이미지동그라미" class="userImg" />
      </div>
      <br />
      <button class="buttonLogin"><a href="./mypage.html">MY PAGE</a></button>
      <!--누르면 로그인 페이지로 이동-->
      <br />
      <button class="buttonHome"><a href="./home.html">LOGOUT</a></button>
      <!--누르면 홈으로 이동-->
    </div>
  </body>
</html>
