{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MUGMA</title>
    <link href="{% static 'mypage.css' %}"rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script>
      function mugrap() {
        alert("준비중입니다.");
      }
    </script>
  </head>
  <body>
    <div><img class="honeyback" src="{% static 'img/Group 156.png' %}" /></div>
    <header>
      <div class="menubar">
        <a class="a" onclick="location.href='/NVtrendy'">TRENDY</a>
        <a class="b" onclick="location.href='/normal'">NORMAL</a>
        <a class="c" onclick="location.href='/mugchef'">MUGCHEF</a>
        {% if user.is_authenticated %}
        <a class="d" onclick="location.href='/mypage'">MYPAGE</button></a>
        <a href="{% url 'logout' %}">logout</a>
        {% else %}
        <a class="d" onclick="location.href='/login'">LOGIN</a>
        {% endif %}
      </div>
      <a href="/"><img class="logo" src="{% static 'img/Group 157.png' %}" /></a>
      <input class="search" type="text" />
    </header>

    <div id="mypageImgdiv">
      <div>
        <img
          src="{% static 'img/mugcuper.png' %}"
          alt="머그마가 머그컵 안에 들어가있는 사진"
          id="MugmaInMugcup"
        />
      </div>
      <br />
      <div class="bubble" id="b1">
        <a href="{% url 'myprofile' %}"
          ><span id="text1">MY<br /><span id="text11">PROFILE</span></span></a
        >
      </div>
      <div class="bubble" id="b2" onclick="mugrap()">
        <a href="{% url 'mugrap' %}"><span id="text2">MUGRAP</span></a>
      </div>
      <div class="bubble" id="b3">
        <a href="{% url 'mugup' %}"><span id="text3">MUGUP</span></a>
      </div>
      <div class="bubble" id="b4">
        <a href="{% url 'mugchef' %}"><span id="text4">MUGCHEF</span></a>
      </div>
    </div>
    <footer>
      <img class="footerimg" src="{% static 'img/company.png' %}" />
    </footer>
  </body>
</html>
